[build]
builder = "NIXPACKS"

[build.nixpacksPlan]
providers = ["nodejs"]

[[build.nixpacksPlan.phases]]
name = "setup"
nixPkgs = ["nodejs-18_x", "openssl"]

[[build.nixpacksPlan.phases]]
name = "install"
cmds = ["npm install"]

[[build.nixpacksPlan.phases]]
name = "build"
cmds = [
    "npx prisma generate",
    "npm run build"
]

[deploy]
startCommand = "npm run start:prod"
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
